/**
 *    Custom Stylesheet
 *
 *    ==========================
 *    SCSS File Inclusion Orders
 *    ==========================
 *
 *    #helpers
 *      - bootstrap
 *
 *
 *    #base
 *      - var
 *      - mixins
 *      - reset
 *      - base
 *      - color
 *      - typography
 *      - grid
 *      - helpers
 *
 *
 *    #components
 *
 *
 *    #modules
*/
/*
    =====
    #base
    =====
*/
/*
    ================
    FONT VARIABLES
    ================
*/
/*
    ================
    DEVICE VARIABLES
    ================
*/
/*
    ==========================
    TRANSITION & HELPER MIXINS
    ==========================
*/
/*
    ==================
    MEDIA QUERY MIXINS
    ==================
*/
/* mobile first for mobiles >= 480px */
/* mobile first for mobiles >= 560px */
/* mobile first for phablets >= 640px */
/* mobile first for tablet portrait >= 768px */
/* mobile first for tablet portrait <= 992px */
/* mobile first for tablet landscape & small desktop >= 1024px */
/* mobile first for tablet landscape & small desktop >= 1080px */
/* mobile first for small desktop > 1024px */
/* mobile first for small desktop >= 1280px */
/* mobile first for medium desktop >= 1360px */
/* mobile first for large desktop >= 1600px */
/*
    =================
    TYPOGRAPHY MIXINS
    =================
*/
/*
    ========================
    HEADER TYPOGRAPHY MIXINS
    ========================
*/
/*
    ======================
    BODY TYPOGRAPHY MIXINS
    ======================
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, sass/base/_reset.scss */
* {
  border: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* line 14, sass/base/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
/* line 102, sass/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 115, sass/base/_reset.scss */
body {
  line-height: 1;
}

/* line 118, sass/base/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 122, sass/base/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 126, sass/base/_reset.scss */
input,
textarea {
  outline: none !important;
}

/* line 130, sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, sass/base/_base.scss */
* {
  outline: none;
}
/* line 7, sass/base/_base.scss */
*:focus {
  outline: none;
}

/* line 12, sass/base/_base.scss */
html,
body {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* line 22, sass/base/_base.scss */
body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  background-size: cover;
  position: relative;
  font-size: 18px;
  color: #343434;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}

/* line 34, sass/base/_base.scss */
p {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  /* for medium to large screen */
  line-height: 24px;
}
@media all and (min-width: 1360px) {
  /* line 34, sass/base/_base.scss */
  p {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
  }
}

/* line 46, sass/base/_base.scss */
img {
  max-width: 100%;
}

/* line 50, sass/base/_base.scss */
a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* line 57, sass/base/_base.scss */
a:hover {
  color: initial;
  text-decoration: none;
}
/* line 61, sass/base/_base.scss */
a:focus {
  text-decoration: none;
  outline: none;
}

/*
    ===============
    COLOR VARIABLES
    ===============
*/
/* line 26, sass/base/_color.scss */
.blue-text {
  color: #5caef8;
}

/* line 4, sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* line 10, sass/base/_typography.scss */
h1 {
  font-size: 32px;
  line-height: 46px;
}
@media all and (min-width: 1024px) {
  /* line 10, sass/base/_typography.scss */
  h1 {
    font-size: 62px;
    line-height: 75px;
  }
}

/* line 19, sass/base/_typography.scss */
h2 {
  font-size: 34px;
  line-height: 40px;
}
@media all and (min-width: 1024px) {
  /* line 19, sass/base/_typography.scss */
  h2 {
    font-size: 48px;
    line-height: 61px;
  }
}

/* line 28, sass/base/_typography.scss */
h3 {
  font-size: 28px;
  line-height: 38px;
}
@media all and (min-width: 1024px) {
  /* line 28, sass/base/_typography.scss */
  h3 {
    font-size: 36px;
    line-height: 49px;
  }
}

/* line 37, sass/base/_typography.scss */
h4 {
  font-size: 19px;
  line-height: 30px;
}
@media all and (min-width: 1024px) {
  /* line 37, sass/base/_typography.scss */
  h4 {
    font-size: 30px;
    line-height: 43px;
  }
}

/* line 46, sass/base/_typography.scss */
h5 {
  font-size: 24px;
  line-height: 32px;
}

/* line 51, sass/base/_typography.scss */
h6 {
  font-size: 20px;
  line-height: 33px;
}

/* line 1, sass/base/_grid.scss */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (min-width: 768px) {
  /* line 10, sass/base/_grid.scss */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* line 15, sass/base/_grid.scss */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* line 20, sass/base/_grid.scss */
  .container {
    max-width: 1140px;
  }
}
/* line 24, sass/base/_grid.scss */
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

/* line 32, sass/base/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 36, sass/base/_grid.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 42, sass/base/_grid.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 45, sass/base/_grid.scss */
.col-xs-12 {
  width: 100%;
}

/* line 48, sass/base/_grid.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 51, sass/base/_grid.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 54, sass/base/_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 57, sass/base/_grid.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 60, sass/base/_grid.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 63, sass/base/_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 66, sass/base/_grid.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 69, sass/base/_grid.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 72, sass/base/_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 75, sass/base/_grid.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 78, sass/base/_grid.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 81, sass/base/_grid.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 84, sass/base/_grid.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 87, sass/base/_grid.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 90, sass/base/_grid.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 93, sass/base/_grid.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 96, sass/base/_grid.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 99, sass/base/_grid.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 102, sass/base/_grid.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 105, sass/base/_grid.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 108, sass/base/_grid.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 111, sass/base/_grid.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 114, sass/base/_grid.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 117, sass/base/_grid.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 120, sass/base/_grid.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 123, sass/base/_grid.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 126, sass/base/_grid.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 129, sass/base/_grid.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 132, sass/base/_grid.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 135, sass/base/_grid.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 138, sass/base/_grid.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 141, sass/base/_grid.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 144, sass/base/_grid.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 147, sass/base/_grid.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 150, sass/base/_grid.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 153, sass/base/_grid.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 156, sass/base/_grid.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 159, sass/base/_grid.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 162, sass/base/_grid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 165, sass/base/_grid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 168, sass/base/_grid.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 171, sass/base/_grid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 174, sass/base/_grid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 177, sass/base/_grid.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 180, sass/base/_grid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 183, sass/base/_grid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 186, sass/base/_grid.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 189, sass/base/_grid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 192, sass/base/_grid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 195, sass/base/_grid.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  /* line 199, sass/base/_grid.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 202, sass/base/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 205, sass/base/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 208, sass/base/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 211, sass/base/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 214, sass/base/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 217, sass/base/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 220, sass/base/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 223, sass/base/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 226, sass/base/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 229, sass/base/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 232, sass/base/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 235, sass/base/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 238, sass/base/_grid.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 241, sass/base/_grid.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 244, sass/base/_grid.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 247, sass/base/_grid.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 250, sass/base/_grid.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 253, sass/base/_grid.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 256, sass/base/_grid.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 259, sass/base/_grid.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 262, sass/base/_grid.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 265, sass/base/_grid.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 268, sass/base/_grid.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 271, sass/base/_grid.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 274, sass/base/_grid.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 277, sass/base/_grid.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 280, sass/base/_grid.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 283, sass/base/_grid.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 286, sass/base/_grid.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 289, sass/base/_grid.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 292, sass/base/_grid.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 295, sass/base/_grid.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 298, sass/base/_grid.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 301, sass/base/_grid.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 304, sass/base/_grid.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 307, sass/base/_grid.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 310, sass/base/_grid.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 313, sass/base/_grid.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 316, sass/base/_grid.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 319, sass/base/_grid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 322, sass/base/_grid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 325, sass/base/_grid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 328, sass/base/_grid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 331, sass/base/_grid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 334, sass/base/_grid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 337, sass/base/_grid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 340, sass/base/_grid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 343, sass/base/_grid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 346, sass/base/_grid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 349, sass/base/_grid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 352, sass/base/_grid.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  /* line 357, sass/base/_grid.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 360, sass/base/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 363, sass/base/_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 366, sass/base/_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 369, sass/base/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 372, sass/base/_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 375, sass/base/_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 378, sass/base/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 381, sass/base/_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 384, sass/base/_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 387, sass/base/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 390, sass/base/_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 393, sass/base/_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 396, sass/base/_grid.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 399, sass/base/_grid.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 402, sass/base/_grid.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 405, sass/base/_grid.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 408, sass/base/_grid.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 411, sass/base/_grid.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 414, sass/base/_grid.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 417, sass/base/_grid.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 420, sass/base/_grid.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 423, sass/base/_grid.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 426, sass/base/_grid.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 429, sass/base/_grid.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 432, sass/base/_grid.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 435, sass/base/_grid.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 438, sass/base/_grid.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 441, sass/base/_grid.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 444, sass/base/_grid.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 447, sass/base/_grid.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 450, sass/base/_grid.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 453, sass/base/_grid.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 456, sass/base/_grid.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 459, sass/base/_grid.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 462, sass/base/_grid.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 465, sass/base/_grid.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 468, sass/base/_grid.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 471, sass/base/_grid.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 474, sass/base/_grid.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 477, sass/base/_grid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 480, sass/base/_grid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 483, sass/base/_grid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 486, sass/base/_grid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 489, sass/base/_grid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 492, sass/base/_grid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 495, sass/base/_grid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 498, sass/base/_grid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 501, sass/base/_grid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 504, sass/base/_grid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 507, sass/base/_grid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 510, sass/base/_grid.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  /* line 515, sass/base/_grid.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 518, sass/base/_grid.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 521, sass/base/_grid.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 524, sass/base/_grid.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 527, sass/base/_grid.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 530, sass/base/_grid.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 533, sass/base/_grid.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 536, sass/base/_grid.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 539, sass/base/_grid.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 542, sass/base/_grid.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 545, sass/base/_grid.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 548, sass/base/_grid.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 551, sass/base/_grid.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }

  /* line 554, sass/base/_grid.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 557, sass/base/_grid.scss */
  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  /* line 560, sass/base/_grid.scss */
  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  /* line 563, sass/base/_grid.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 566, sass/base/_grid.scss */
  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  /* line 569, sass/base/_grid.scss */
  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  /* line 572, sass/base/_grid.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 575, sass/base/_grid.scss */
  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  /* line 578, sass/base/_grid.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  /* line 581, sass/base/_grid.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 584, sass/base/_grid.scss */
  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  /* line 587, sass/base/_grid.scss */
  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  /* line 590, sass/base/_grid.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 593, sass/base/_grid.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 596, sass/base/_grid.scss */
  .col-lg-push-11 {
    left: 91.66666667%;
  }

  /* line 599, sass/base/_grid.scss */
  .col-lg-push-10 {
    left: 83.33333333%;
  }

  /* line 602, sass/base/_grid.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 605, sass/base/_grid.scss */
  .col-lg-push-8 {
    left: 66.66666667%;
  }

  /* line 608, sass/base/_grid.scss */
  .col-lg-push-7 {
    left: 58.33333333%;
  }

  /* line 611, sass/base/_grid.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 614, sass/base/_grid.scss */
  .col-lg-push-5 {
    left: 41.66666667%;
  }

  /* line 617, sass/base/_grid.scss */
  .col-lg-push-4 {
    left: 33.33333333%;
  }

  /* line 620, sass/base/_grid.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 623, sass/base/_grid.scss */
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  /* line 626, sass/base/_grid.scss */
  .col-lg-push-1 {
    left: 8.33333333%;
  }

  /* line 629, sass/base/_grid.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 632, sass/base/_grid.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 635, sass/base/_grid.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 638, sass/base/_grid.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 641, sass/base/_grid.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 644, sass/base/_grid.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 647, sass/base/_grid.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 650, sass/base/_grid.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 653, sass/base/_grid.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 656, sass/base/_grid.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 659, sass/base/_grid.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 662, sass/base/_grid.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 665, sass/base/_grid.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 668, sass/base/_grid.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/* line 4, sass/base/_helpers.scss */
.btn-theme {
  padding: 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
@media all and (min-width: 1080px) {
  /* line 4, sass/base/_helpers.scss */
  .btn-theme {
    padding: 15px;
    font-size: 13px;
    border-radius: 0px;
  }
}

/* line 17, sass/base/_helpers.scss */
.padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 22, sass/base/_helpers.scss */
.padding-75 {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media all and (min-width: 768px) {
  /* line 22, sass/base/_helpers.scss */
  .padding-75 {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

/* line 30, sass/base/_helpers.scss */
.padding-top-25 {
  padding-top: 25px;
}

/* line 33, sass/base/_helpers.scss */
.padding-top-10 {
  padding-top: 10px;
}

/* line 37, sass/base/_helpers.scss */
.padding-top-20 {
  padding-top: 20px;
}

/* line 41, sass/base/_helpers.scss */
.margin-top-30 {
  margin-top: 30px;
}

/* line 46, sass/base/_helpers.scss */
.heading h3 {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 50px;
  color: #262e41;
  text-align: center;
  position: relative;
}
/* line 53, sass/base/_helpers.scss */
.heading h3:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #579edc;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 40px;
}

/* line 69, sass/base/_helpers.scss */
.btn-white {
  background-color: #fff;
  color: #000;
  border: 2px solid transarent;
}
/* line 73, sass/base/_helpers.scss */
.btn-white:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

/* line 80, sass/base/_helpers.scss */
.btn-white-border {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
/* line 84, sass/base/_helpers.scss */
.btn-white-border:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid transarent;
}

/* line 91, sass/base/_helpers.scss */
.btn-black {
  background-color: #000;
  color: #fff;
  border: 2px solid transparent;
}
/* line 95, sass/base/_helpers.scss */
.btn-black:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

/* line 102, sass/base/_helpers.scss */
.color-white {
  color: #fff;
}

/* line 106, sass/base/_helpers.scss */
.color-solid {
  color: #feffff20 !important;
}

/* line 110, sass/base/_helpers.scss */
.padding-bottom-40 {
  padding-bottom: 40px;
}

/* line 114, sass/base/_helpers.scss */
.padding-top-40 {
  padding-top: 40px;
}

/* line 118, sass/base/_helpers.scss */
.padding-bottom-50 {
  padding-bottom: 50px;
}

/* line 122, sass/base/_helpers.scss */
.padding-bottom-20 {
  padding-bottom: 20px;
}

/* line 126, sass/base/_helpers.scss */
.padding-bottom-10 {
  padding-bottom: 10px;
}

/* line 130, sass/base/_helpers.scss */
.btn-schedule {
  background-color: #05aae7;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
  text-transform: uppercase;
  border: 2px solid transparent;
}
/* line 138, sass/base/_helpers.scss */
.btn-schedule:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #05aae7;
}
@media all and (max-width: 992px) {
  /* line 130, sass/base/_helpers.scss */
  .btn-schedule {
    font-size: 14px;
  }
}

/* line 148, sass/base/_helpers.scss */
.bg-f6 {
  background-color: #f6f6f6;
}

/* line 152, sass/base/_helpers.scss */
.font-size-15 {
  font-size: 15px;
}

/* line 156, sass/base/_helpers.scss */
.padding-top-20 {
  padding-top: 20px;
}

/* line 160, sass/base/_helpers.scss */
.white {
  color: #fff !important;
}

/* line 164, sass/base/_helpers.scss */
.height-auto {
  height: auto !important;
}

/* line 168, sass/base/_helpers.scss */
.margin-top-bottom-10-mobile {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media all and (max-width: 992px) {
  /* line 168, sass/base/_helpers.scss */
  .margin-top-bottom-10-mobile {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*
    ===========
    #components
    ===========
*/
/*
    =====================
    #Common SASS modules
    =====================
*/
/* line 4, sass/modules/_navigation-bar.scss */
header {
  background-color: #fff;
  padding: 0;
}
@media all and (min-width: 480px) {
  /* line 4, sass/modules/_navigation-bar.scss */
  header {
    padding: 18px 0;
    margin: 0;
  }
}

/* line 12, sass/modules/_navigation-bar.scss */
.follow-social {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}
@media all and (min-width: 560px) {
  /* line 12, sass/modules/_navigation-bar.scss */
  .follow-social {
    margin-bottom: 0;
    text-align: right;
    margin-top: 0px;
  }
}
/* line 23, sass/modules/_navigation-bar.scss */
.follow-social ul li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  position: relative;
  font-size: 13px;
}
@media all and (min-width: 480px) {
  /* line 23, sass/modules/_navigation-bar.scss */
  .follow-social ul li {
    padding-right: 4px;
  }
}
@media all and (min-width: 768px) {
  /* line 23, sass/modules/_navigation-bar.scss */
  .follow-social ul li {
    font-size: 18px;
    padding-right: 18px;
  }
}
/* line 36, sass/modules/_navigation-bar.scss */
.follow-social ul li a {
  transition: .3s all ease-in;
}
/* line 38, sass/modules/_navigation-bar.scss */
.follow-social ul li a svg {
  color: #333333;
  font-size: 20px;
}

/* line 54, sass/modules/_navigation-bar.scss */
.company-info p {
  font-size: 13px;
  margin: 0;
}

/* line 60, sass/modules/_navigation-bar.scss */
.pos-relative {
  position: relative;
}

/* line 64, sass/modules/_navigation-bar.scss */
.navbar-custom {
  margin-bottom: 0;
  background-color: #0f0d0b;
  border-radius: 0;
  padding: 10px 0;
}
/* line 69, sass/modules/_navigation-bar.scss */
.navbar-custom .navbar-header {
  width: 100%;
}
/* line 72, sass/modules/_navigation-bar.scss */
.navbar-custom .navbar-collapse {
  padding: 0;
}
/* line 75, sass/modules/_navigation-bar.scss */
.navbar-custom .navbar-brand {
  width: 78%;
  height: auto;
}
/* line 78, sass/modules/_navigation-bar.scss */
.navbar-custom .navbar-brand img {
  margin: 0px auto;
}
@media all and (min-width: 768px) {
  /* line 75, sass/modules/_navigation-bar.scss */
  .navbar-custom .navbar-brand {
    width: 100%;
    margin-top: 0px;
  }
}
/* line 87, sass/modules/_navigation-bar.scss */
.navbar-custom ul.nav li {
  padding: 10px 0px;
}
@media all and (min-width: 768px) {
  /* line 87, sass/modules/_navigation-bar.scss */
  .navbar-custom ul.nav li {
    padding: 10px 0px;
  }
}
/* line 92, sass/modules/_navigation-bar.scss */
.navbar-custom ul.nav li a {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 14px;
}
@media all and (min-width: 1024px) {
  /* line 92, sass/modules/_navigation-bar.scss */
  .navbar-custom ul.nav li a {
    font-size: 14px;
  }
}
/* line 101, sass/modules/_navigation-bar.scss */
.navbar-custom ul.nav li a:hover {
  background-color: transparent;
  color: #4674b8;
}
/* line 105, sass/modules/_navigation-bar.scss */
.navbar-custom ul.nav li a:focus {
  background-color: transparent;
}
/* line 110, sass/modules/_navigation-bar.scss */
.navbar-custom ul.nav li ul.dropdown-menu {
  background: #4773b4;
}
/* line 112, sass/modules/_navigation-bar.scss */
.navbar-custom ul.nav li ul.dropdown-menu li {
  padding: 0;
  position: relative;
}
/* line 115, sass/modules/_navigation-bar.scss */
.navbar-custom ul.nav li ul.dropdown-menu li a {
  font-size: 12px;
}
/* line 117, sass/modules/_navigation-bar.scss */
.navbar-custom ul.nav li ul.dropdown-menu li a:hover {
  color: #fff;
}
/* line 122, sass/modules/_navigation-bar.scss */
.navbar-custom ul.nav li ul.dropdown-menu li .submenu-menu {
  top: -3px;
  left: 100%;
  background-color: #13366b;
}
@media all and (min-width: 768px) {
  /* line 122, sass/modules/_navigation-bar.scss */
  .navbar-custom ul.nav li ul.dropdown-menu li .submenu-menu {
    visibility: hidden;
    opacity: 0;
  }
}
/* line 133, sass/modules/_navigation-bar.scss */
.navbar-custom ul.nav li ul.dropdown-menu li:hover {
  background-color: #13366b;
}
@media all and (min-width: 768px) {
  /* line 135, sass/modules/_navigation-bar.scss */
  .navbar-custom ul.nav li ul.dropdown-menu li:hover .submenu-menu {
    visibility: visible;
    opacity: 1;
  }
}
@media all and (min-width: 768px) {
  /* line 145, sass/modules/_navigation-bar.scss */
  .navbar-custom ul.nav li ul.dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}
@media all and (min-width: 768px) {
  /* line 157, sass/modules/_navigation-bar.scss */
  .navbar-custom ul.nav li:hover .dropdown-menu {
    visibility: visible;
    display: block;
  }
}

/* line 170, sass/modules/_navigation-bar.scss */
.navbar-toggle {
  margin-right: 0;
}
/* line 172, sass/modules/_navigation-bar.scss */
.navbar-toggle .icon-bar {
  background: #4674b8;
}

/* line 177, sass/modules/_navigation-bar.scss */
.in .navbar-nav {
  padding: 0px 15px;
}

/* line 184, sass/modules/_navigation-bar.scss */
a:focus {
  background-color: transparent;
}

/* line 1, sass/modules/_style2.scss */
.font-size-24 {
  font-size: 24px !important;
}

/* line 4, sass/modules/_style2.scss */
.margin-bottom-20 {
  margin-bottom: 20px;
}

/* line 7, sass/modules/_style2.scss */
.margin-bottom-30 {
  margin-bottom: 30px;
}

/* line 10, sass/modules/_style2.scss */
.margin-top-40 {
  margin-top: 40px;
}

/* line 13, sass/modules/_style2.scss */
.padding-right-0 {
  padding-right: 0;
}

/* line 17, sass/modules/_style2.scss */
.display-block {
  margin: 0 auto;
  display: block;
}

/* line 21, sass/modules/_style2.scss */
.width-180 {
  width: 180px !important;
}

/* line 24, sass/modules/_style2.scss */
.btn-danger {
  background: #ee171e;
  color: #fff;
  font-size: 20px;
  height: 60px;
  line-height: 56px;
  border-radius: 5px;
  text-align: center;
  width: 227px;
  padding: 0;
}
/* line 34, sass/modules/_style2.scss */
.btn-danger:hover {
  background: #fb7365;
}

/*Feature*/
/* line 41, sass/modules/_style2.scss */
.featured-works {
  background: #fff;
}

/* line 44, sass/modules/_style2.scss */
.featured-blocks {
  position: relative;
  transition: .3s all ease-in;
}
/* line 48, sass/modules/_style2.scss */
.featured-blocks .featured-blocks-img {
  position: relative;
}
/* line 50, sass/modules/_style2.scss */
.featured-blocks .featured-blocks-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 55, sass/modules/_style2.scss */
.featured-blocks .featured-blocks-img .video-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0000006b;
}
/* line 62, sass/modules/_style2.scss */
.featured-blocks .featured-blocks-img .video-icon svg {
  color: #fff;
  font-size: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
/* line 75, sass/modules/_style2.scss */
.featured-blocks .featured-blocks-info {
  padding: 30px 0;
}
/* line 77, sass/modules/_style2.scss */
.featured-blocks .featured-blocks-info h4 {
  color: #000;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  transition: .3s all ease-in;
  text-align: left;
}
/* line 85, sass/modules/_style2.scss */
.featured-blocks .featured-blocks-info p {
  color: #000;
  font-size: 15px;
  text-align: left;
}

/*Latest News*/
/* line 95, sass/modules/_style2.scss */
.latest-news {
  padding: 30px 0;
}
@media all and (min-width: 1024px) {
  /* line 95, sass/modules/_style2.scss */
  .latest-news {
    padding: 60px 0;
  }
}
/* line 100, sass/modules/_style2.scss */
.latest-news .latest-block {
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
/* line 106, sass/modules/_style2.scss */
.latest-news .latest-information h4 {
  font-size: 18px;
  line-height: 28px;
  color: #262e41;
  margin-bottom: 15px;
}
/* line 112, sass/modules/_style2.scss */
.latest-news .latest-information p {
  font-size: 16px;
  color: #333333;
  margin-bottom: 0;
}

/* line 120, sass/modules/_style2.scss */
.team-works {
  background: #000;
}

/* line 123, sass/modules/_style2.scss */
.team-blocks {
  position: relative;
  transition: .3s all ease-in;
}
/* line 130, sass/modules/_style2.scss */
.team-blocks .team-blocks-info {
  position: absolute;
  top: 65%;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #0c2034;
  padding: 15px;
  transition: .3s all ease-in;
}
/* line 140, sass/modules/_style2.scss */
.team-blocks .team-blocks-info h4 {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  transition: .3s all ease-in;
}
/* line 146, sass/modules/_style2.scss */
.team-blocks .team-blocks-info p {
  color: #fff;
  font-size: 15px;
}
/* line 150, sass/modules/_style2.scss */
.team-blocks .team-blocks-info ul {
  visibility: hidden;
  opacity: 0;
}
/* line 153, sass/modules/_style2.scss */
.team-blocks .team-blocks-info ul li {
  display: inline-block;
  padding: 10px;
}
/* line 156, sass/modules/_style2.scss */
.team-blocks .team-blocks-info ul li a {
  color: #000;
}
/* line 163, sass/modules/_style2.scss */
.team-blocks:hover .team-blocks-info {
  top: 125px;
  bottom: 0;
  height: 100%;
  background: #fff;
}
/* line 168, sass/modules/_style2.scss */
.team-blocks:hover .team-blocks-info h4 {
  font-size: 24px;
  line-height: 28px;
  color: #000;
}
/* line 173, sass/modules/_style2.scss */
.team-blocks:hover .team-blocks-info a {
  visibility: visible;
}
/* line 175, sass/modules/_style2.scss */
.team-blocks:hover .team-blocks-info a:hover {
  background: #fff;
  color: #3654a9;
}
/* line 180, sass/modules/_style2.scss */
.team-blocks:hover .team-blocks-info p {
  color: #000;
  font-size: 15px;
  margin-bottom: 10px;
}
/* line 185, sass/modules/_style2.scss */
.team-blocks:hover .team-blocks-info ul {
  visibility: visible;
  opacity: 1;
}

/* line 192, sass/modules/_style2.scss */
#team-slider .owl-prev {
  position: absolute;
  top: 45%;
  left: -50px;
  background: url(images/left-arrow.png) no-repeat 0 0;
  width: 32px;
  height: 32px;
}
/* line 199, sass/modules/_style2.scss */
#team-slider .owl-prev span {
  font-size: 0;
}

/* line 203, sass/modules/_style2.scss */
#team-slider .owl-next {
  position: absolute;
  top: 45%;
  right: -50px;
  background: url(images/right-arrow.png) no-repeat 0 0;
  width: 32px;
  height: 32px;
}
/* line 210, sass/modules/_style2.scss */
#team-slider .owl-next span {
  font-size: 0;
}

/*Testimonial*/
/* line 217, sass/modules/_style2.scss */
.clients-block img {
  max-width: 120px;
  max-height: 120px;
}
/* line 221, sass/modules/_style2.scss */
.clients-block p {
  padding: 25px 0 15px;
  font-size: 15px;
  font-style: italic;
}
/* line 226, sass/modules/_style2.scss */
.clients-block h3 {
  text-transform: uppercase;
  font-size: 28px;
}

/* line 231, sass/modules/_style2.scss */
#client-reviews .owl-prev {
  position: absolute;
  top: 45%;
  left: -100px;
  background: url(image/left-arrow-solid.png) no-repeat 0 0;
  width: 32px;
  height: 32px;
}
/* line 238, sass/modules/_style2.scss */
#client-reviews .owl-prev span {
  font-size: 0;
}

/* line 242, sass/modules/_style2.scss */
#client-reviews .owl-next {
  position: absolute;
  top: 45%;
  right: -100px;
  background: url(image/arrow-right-solid.png) no-repeat 0 0;
  width: 32px;
  height: 32px;
}
/* line 249, sass/modules/_style2.scss */
#client-reviews .owl-next span {
  font-size: 0;
}

/* line 253, sass/modules/_style2.scss */
#case-studies .owl-prev {
  position: absolute;
  top: 45%;
  left: -35px;
  background: url(image/left-arrow-solid.png) no-repeat 0 0;
  width: 32px;
  height: 32px;
}
/* line 260, sass/modules/_style2.scss */
#case-studies .owl-prev span {
  font-size: 0;
}

/* line 264, sass/modules/_style2.scss */
#case-studies .owl-next {
  display: none;
}

/* line 269, sass/modules/_style2.scss */
.case-studies h3 {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 275, sass/modules/_style2.scss */
.case-studies p.result {
  text-decoration: underline;
  font-weight: 600;
  text-transform: uppercase;
}

/*Footer*/
/* line 287, sass/modules/_style2.scss */
footer {
  padding: 50px 0 0 0;
}
/* line 289, sass/modules/_style2.scss */
footer .footer-blocks {
  margin-bottom: 50px;
  position: relative;
}
/* line 292, sass/modules/_style2.scss */
footer .footer-blocks .footer-heading {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 298, sass/modules/_style2.scss */
footer .footer-blocks h4 {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
/* line 304, sass/modules/_style2.scss */
footer .footer-blocks .contact-footer p {
  color: #333;
  font-size: 14px;
  margin-top: -10px;
}
/* line 309, sass/modules/_style2.scss */
footer .footer-blocks .contact-footer a {
  color: #333;
  font-size: 14px;
  margin-top: -10px;
}
/* line 313, sass/modules/_style2.scss */
footer .footer-blocks .contact-footer a:hover {
  color: #888;
}
/* line 317, sass/modules/_style2.scss */
footer .footer-blocks .contact-footer img {
  margin-right: 20px;
}
/* line 321, sass/modules/_style2.scss */
footer .footer-blocks ul {
  padding-top: 15px;
}
/* line 323, sass/modules/_style2.scss */
footer .footer-blocks ul li {
  padding-bottom: 20px;
}
/* line 325, sass/modules/_style2.scss */
footer .footer-blocks ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
/* line 329, sass/modules/_style2.scss */
footer .footer-blocks ul li a:hover {
  color: #9dd1ff;
}
/* line 335, sass/modules/_style2.scss */
footer .footer-blocks input {
  height: 50px;
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
  font-weight: 300;
  border-radius: 0;
  box-shadow: 0px 0px 5px 0px #ccc;
  margin-top: 25px;
}
/* line 345, sass/modules/_style2.scss */
footer .footer-blocks .newsletter-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #000;
}
/* line 354, sass/modules/_style2.scss */
footer .footer-blocks .newsletter-icon svg {
  color: #fff;
}
/* line 358, sass/modules/_style2.scss */
footer .footer-blocks p {
  color: #666;
  font-size: 14px;
}
/* line 362, sass/modules/_style2.scss */
footer .footer-blocks .follow-social {
  text-align: left;
}
/* line 366, sass/modules/_style2.scss */
footer .footer-blocks .follow-social ul li a {
  color: #666;
}
/* line 373, sass/modules/_style2.scss */
footer .copyright-section {
  padding: 15px 0;
}
/* line 375, sass/modules/_style2.scss */
footer .copyright-section p {
  color: #444;
  font-size: 14px;
  margin-bottom: 0;
}
/* line 379, sass/modules/_style2.scss */
footer .copyright-section p img {
  margin-right: 15px;
}
/* line 382, sass/modules/_style2.scss */
footer .copyright-section p a {
  color: #6f7c9c;
}
/* line 386, sass/modules/_style2.scss */
footer .copyright-section ul {
  text-align: center;
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  /* line 386, sass/modules/_style2.scss */
  footer .copyright-section ul {
    text-align: right;
  }
}
/* line 393, sass/modules/_style2.scss */
footer .copyright-section ul li {
  display: inline-block;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
}
/* line 397, sass/modules/_style2.scss */
footer .copyright-section ul li p {
  margin-bottom: 0;
}

/* line 405, sass/modules/_style2.scss */
.latest-image img {
  margin: 0 auto;
  width: 100%;
}
@media all and (min-width: 1024px) {
  /* line 405, sass/modules/_style2.scss */
  .latest-image img {
    margin: 0;
  }
}

/* line 414, sass/modules/_style2.scss */
.center-class {
  text-align: center;
}
@media all and (min-width: 768px) {
  /* line 414, sass/modules/_style2.scss */
  .center-class {
    text-align: inherit;
  }
}

/* line 421, sass/modules/_style2.scss */
.heading p {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
}
@media all and (min-width: 1024px) {
  /* line 421, sass/modules/_style2.scss */
  .heading p {
    padding-right: 80px;
    padding-left: 80px;
  }
}

/* line 431, sass/modules/_style2.scss */
.letter-spacing {
  letter-spacing: 1px;
}

/** Immigration **/
/* line 436, sass/modules/_style2.scss */
.heading-board {
  position: relative;
}
/* line 438, sass/modules/_style2.scss */
.heading-board h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 1100px;
  margin: 0px auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  color: #fff;
  padding: 10px;
}

/** Attorney **/
/* line 455, sass/modules/_style2.scss */
.attorney-education {
  position: relative;
  height: 1300px !important;
}
@media all and (min-width: 768px) {
  /* line 455, sass/modules/_style2.scss */
  .attorney-education {
    height: 700px;
  }
}
/* line 461, sass/modules/_style2.scss */
.attorney-education img {
  width: 100%;
  height: 100%;
}
/* line 465, sass/modules/_style2.scss */
.attorney-education .education-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0c2034eb;
}
/* line 475, sass/modules/_style2.scss */
.attorney-education .education-overlay .education-attorney-panel div ul li {
  margin-bottom: 10px;
  color: #fff;
  font-size: 15px;
  vertical-align: top;
  display: flex;
}
/* line 481, sass/modules/_style2.scss */
.attorney-education .education-overlay .education-attorney-panel div ul li svg {
  font-size: 24px;
  margin-right: 20px;
}
/* line 489, sass/modules/_style2.scss */
.attorney-education .education-overlay .education-attorney-panel div ul.upper li {
  background-color: #8eabd610;
  padding: 20px 25px;
}

/* line 499, sass/modules/_style2.scss */
.firm-profile-check {
  padding: 25px 0;
  column-count: 1;
}
@media all and (min-width: 768px) {
  /* line 499, sass/modules/_style2.scss */
  .firm-profile-check {
    column-count: 3;
  }
}
/* line 505, sass/modules/_style2.scss */
.firm-profile-check li {
  padding: 10px 0;
  vertical-align: top;
  font-size: 16px;
  display: block !important;
}
@include- tablet-sm {}
/* line 513, sass/modules/_style2.scss */
.firm-profile-check li svg {
  font-size: 24px;
  color: #0c2034;
  margin-right: 15px;
}

/* line 521, sass/modules/_style2.scss */
.firm-profile-details {
  background-color: #0c2034;
}
/* line 523, sass/modules/_style2.scss */
.firm-profile-details .container-fluid {
  padding: 0;
}
/* line 525, sass/modules/_style2.scss */
.firm-profile-details .container-fluid .right-firm-section {
  padding: 65px;
}
/* line 527, sass/modules/_style2.scss */
.firm-profile-details .container-fluid .right-firm-section p {
  color: #fff;
  font-size: 15px;
}

/* line 535, sass/modules/_style2.scss */
.firm-profile-height {
  height: auto !important;
}
@media all and (max-width: 992px) {
  /* line 535, sass/modules/_style2.scss */
  .firm-profile-height {
    height: 530px !important;
  }
}

/*
    =============
    #Page Modules
    =============
*/
/* line 4, sass/modules/_home-pages.scss */
.home-slider {
  position: relative;
  height: 270px;
}
@media all and (min-width: 768px) {
  /* line 4, sass/modules/_home-pages.scss */
  .home-slider {
    height: 530px;
  }
}
/* line 10, sass/modules/_home-pages.scss */
.home-slider img {
  height: 100%;
}
/* line 13, sass/modules/_home-pages.scss */
.home-slider .header-banner-gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000b3;
}
/* line 21, sass/modules/_home-pages.scss */
.home-slider .slider-info {
  position: absolute;
  top: 15px;
  bottom: 15px;
  width: auto;
  left: 15px;
  right: 15px;
  color: #fff;
}
@media all and (min-width: 1080px) {
  /* line 21, sass/modules/_home-pages.scss */
  .home-slider .slider-info {
    padding: 35px 35px 40px 70px;
  }
}
@media all and (min-width: 768px) {
  /* line 21, sass/modules/_home-pages.scss */
  .home-slider .slider-info {
    width: 65%;
  }
}
/* line 41, sass/modules/_home-pages.scss */
.home-slider .slider-info h2 {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 10px;
  font-weight: 900;
  position: relative;
}
@media all and (min-width: 480px) {
  /* line 41, sass/modules/_home-pages.scss */
  .home-slider .slider-info h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media all and (min-width: 768px) {
  /* line 41, sass/modules/_home-pages.scss */
  .home-slider .slider-info h2 {
    font-size: 36px;
    line-height: 44px;
  }
}
@media all and (min-width: 1080px) {
  /* line 41, sass/modules/_home-pages.scss */
  .home-slider .slider-info h2 {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 25px;
  }
}
@media all and (min-width: 1280px) {
  /* line 41, sass/modules/_home-pages.scss */
  .home-slider .slider-info h2 {
    font-size: 52px;
    line-height: 60px;
    padding-bottom: 25px;
  }
}
/* line 70, sass/modules/_home-pages.scss */
.home-slider .slider-info p {
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-weight: 300;
}
@media all and (min-width: 480px) {
  /* line 70, sass/modules/_home-pages.scss */
  .home-slider .slider-info p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
  }
}
@media all and (min-width: 768px) {
  /* line 70, sass/modules/_home-pages.scss */
  .home-slider .slider-info p {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
  }
}
@media all and (min-width: 1024px) {
  /* line 70, sass/modules/_home-pages.scss */
  .home-slider .slider-info p {
    font-size: 22px;
    line-height: 28px;
  }
}

/* line 99, sass/modules/_home-pages.scss */
#home-slider {
  position: relative;
}
/* line 101, sass/modules/_home-pages.scss */
#home-slider .owl-dots {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
/* line 110, sass/modules/_home-pages.scss */
#home-slider .owl-dots .owl-dot span {
  width: 10px;
  height: 4px;
  display: inline-block;
  border-radius: 16px;
  margin: 5px;
  opacity: 1;
  background-color: #fff;
}
/* line 121, sass/modules/_home-pages.scss */
#home-slider .owl-dots .active span {
  background-color: #6f6f6f;
}

/* line 130, sass/modules/_home-pages.scss */
.welcome-note p {
  font-size: 15px;
  color: #000;
}
/* line 135, sass/modules/_home-pages.scss */
.welcome-note ul li {
  display: inline-block;
}
/* line 137, sass/modules/_home-pages.scss */
.welcome-note ul li img {
  padding-right: 10px;
  max-width: 90px;
}
@media all and (min-width: 768px) {
  /* line 137, sass/modules/_home-pages.scss */
  .welcome-note ul li img {
    max-width: 120px;
  }
}

/* line 148, sass/modules/_home-pages.scss */
h1.heading-lighter {
  font-size: 18px;
  color: #b5b5b520;
  font-weight: 900;
  padding-bottom: 10px;
  line-height: 36px;
  position: relative;
  text-transform: uppercase;
}
@media all and (min-width: 768px) {
  /* line 148, sass/modules/_home-pages.scss */
  h1.heading-lighter {
    font-size: 56px;
  }
}
/* line 160, sass/modules/_home-pages.scss */
h1.heading-lighter span {
  color: #335fc8;
  font-size: 24px;
}
@media all and (min-width: 768px) {
  /* line 160, sass/modules/_home-pages.scss */
  h1.heading-lighter span {
    font-size: 36px;
  }
}

/* line 169, sass/modules/_home-pages.scss */
h2.heading-main {
  font-size: 24px;
  line-height: 32px;
}

/* line 175, sass/modules/_home-pages.scss */
.product-services .products-and-services {
  position: relative;
}
/* line 177, sass/modules/_home-pages.scss */
.product-services .products-and-services .product-blocks {
  background-color: #000;
  position: relative;
  margin-bottom: 25px;
}
/* line 183, sass/modules/_home-pages.scss */
.product-services .products-and-services .product-blocks img {
  opacity: 45%;
  width: 100%;
}
@media all and (min-width: 768px) {
  /* line 183, sass/modules/_home-pages.scss */
  .product-services .products-and-services .product-blocks img {
    width: auto;
  }
}
/* line 191, sass/modules/_home-pages.scss */
.product-services .products-and-services .product-blocks p {
  position: absolute;
  bottom: 20px;
  left: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
}

/* line 206, sass/modules/_home-pages.scss */
.effective-solutions {
  background-color: #03355d;
  color: #fff;
  text-align: center;
}
@media all and (min-width: 768px) {
  /* line 206, sass/modules/_home-pages.scss */
  .effective-solutions {
    text-align: inherit;
  }
}
/* line 214, sass/modules/_home-pages.scss */
.effective-solutions .left-panel img {
  display: block;
  position: absolute;
}
@media all and (max-width: 992px) {
  /* line 214, sass/modules/_home-pages.scss */
  .effective-solutions .left-panel img {
    display: none;
  }
}
/* line 221, sass/modules/_home-pages.scss */
.effective-solutions .left-panel h3 {
  font-size: 38px;
  margin-left: 110px;
  color: #fff;
  font-weight: 900;
  padding-bottom: 10px;
}
@media all and (max-width: 992px) {
  /* line 221, sass/modules/_home-pages.scss */
  .effective-solutions .left-panel h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 0;
  }
}
/* line 234, sass/modules/_home-pages.scss */
.effective-solutions .left-panel p {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  margin-left: 110px;
}
@media all and (max-width: 992px) {
  /* line 234, sass/modules/_home-pages.scss */
  .effective-solutions .left-panel p {
    font-size: 14px;
    margin-left: 0;
  }
}
/* line 243, sass/modules/_home-pages.scss */
.effective-solutions .left-panel p span {
  color: #ff8d00;
}
/* line 249, sass/modules/_home-pages.scss */
.effective-solutions .schedule {
  position: relative;
}
/* line 251, sass/modules/_home-pages.scss */
.effective-solutions .schedule img {
  display: block;
  position: absolute;
  left: -140px;
  top: -110px;
}
@media all and (max-width: 992px) {
  /* line 251, sass/modules/_home-pages.scss */
  .effective-solutions .schedule img {
    display: none;
  }
}

/* line 266, sass/modules/_home-pages.scss */
.company-info ul {
  text-align: center;
  padding-right: 0;
}
@media all and (min-width: 480px) {
  /* line 266, sass/modules/_home-pages.scss */
  .company-info ul {
    padding-right: 30px;
    text-align: right;
  }
}
@media all and (min-width: 768px) {
  /* line 266, sass/modules/_home-pages.scss */
  .company-info ul {
    padding-right: 50px;
  }
}
/* line 277, sass/modules/_home-pages.scss */
.company-info ul li a {
  font-size: 13px;
}
@media all and (min-width: 768px) {
  /* line 277, sass/modules/_home-pages.scss */
  .company-info ul li a {
    font-size: 13px;
  }
}
@media all and (min-width: 1024px) {
  /* line 277, sass/modules/_home-pages.scss */
  .company-info ul li a {
    font-size: 18px;
  }
}

/* line 290, sass/modules/_home-pages.scss */
.clients-logo img {
  margin: 0 auto;
  width: auto !important;
}

/* line 296, sass/modules/_home-pages.scss */
.margin-in-mobile {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media all and (min-width: 768px) {
  /* line 296, sass/modules/_home-pages.scss */
  .margin-in-mobile {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*Product Services*/
/* line 1, sass/modules/_product-services.scss */
.inner-page-bnr {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 594px;
  position: relative;
}
/* line 7, sass/modules/_product-services.scss */
.inner-page-bnr .container {
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translate(0, -50%);
}
/* line 14, sass/modules/_product-services.scss */
.inner-page-bnr .inner-bnr-text h1 {
  color: #fff;
  font-size: 48px;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
/* line 20, sass/modules/_product-services.scss */
.inner-page-bnr .inner-bnr-text h1:before {
  content: '';
  position: absolute;
  bottom: 0;
  background: #589edc;
  height: 5px;
  width: 50px;
}
/* line 29, sass/modules/_product-services.scss */
.inner-page-bnr .inner-bnr-text p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  font-weight: 400;
}
@media all and (min-width: 1024px) {
  /* line 29, sass/modules/_product-services.scss */
  .inner-page-bnr .inner-bnr-text p {
    padding-right: 50px;
  }
}

/* line 40, sass/modules/_product-services.scss */
.breadcrumb {
  background: #fafafa;
  padding: 17px 0;
}
/* line 44, sass/modules/_product-services.scss */
.breadcrumb ul li {
  display: inline-block;
}
/* line 46, sass/modules/_product-services.scss */
.breadcrumb ul li a {
  font-size: 18px;
  color: #505050;
  padding: 0 20px;
  position: relative;
}
/* line 51, sass/modules/_product-services.scss */
.breadcrumb ul li a:before {
  content: '>';
  position: absolute;
  top: 2px;
  right: -7px;
}
/* line 58, sass/modules/_product-services.scss */
.breadcrumb ul li:last-child {
  padding-left: 0;
}
/* line 60, sass/modules/_product-services.scss */
.breadcrumb ul li:last-child a {
  color: #5caef8;
}
/* line 62, sass/modules/_product-services.scss */
.breadcrumb ul li:last-child a:before {
  content: '';
  background: url(images/carrot-down.png) no-repeat 0 0;
  width: 13px;
  height: 10px;
  top: 8px;
}

/* line 75, sass/modules/_product-services.scss */
.product-services {
  background-color: #000;
}
/* line 77, sass/modules/_product-services.scss */
.product-services .latest-block {
  padding-right: 0;
}
/* line 79, sass/modules/_product-services.scss */
.product-services .latest-block .latest-information {
  position: relative;
}
@media all and (min-width: 1024px) {
  /* line 79, sass/modules/_product-services.scss */
  .product-services .latest-block .latest-information {
    min-height: 213px;
  }
}
/* line 84, sass/modules/_product-services.scss */
.product-services .latest-block .latest-information h4 {
  background: #262e41;
  color: #fff;
  padding: 8px 15px 8px 20px;
  margin-bottom: 10px;
}
/* line 90, sass/modules/_product-services.scss */
.product-services .latest-block .latest-information p {
  line-height: 20px;
}
@media all and (min-width: 1024px) {
  /* line 90, sass/modules/_product-services.scss */
  .product-services .latest-block .latest-information p {
    padding-right: 30px;
  }
}
/* line 96, sass/modules/_product-services.scss */
.product-services .latest-block .latest-information a {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  color: #335fc8;
}

/* line 107, sass/modules/_product-services.scss */
.banner-form {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
}
/* line 111, sass/modules/_product-services.scss */
.banner-form h2 {
  font-size: 28px;
  color: #335fc8;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}
/* line 117, sass/modules/_product-services.scss */
.banner-form h2 strong {
  font-weight: 700;
}
/* line 121, sass/modules/_product-services.scss */
.banner-form input {
  display: block;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #f5f5f5;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* line 129, sass/modules/_product-services.scss */
.banner-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #f5f5f5;
  margin-bottom: 15px;
  border-radius: 5px;
  resize: none;
  min-height: 30px;
}
/* line 138, sass/modules/_product-services.scss */
.banner-form input[type="button"] {
  background: #ee171e;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
/* line 144, sass/modules/_product-services.scss */
.banner-form small {
  text-align: center;
  display: block;
  font-size: 16px;
  margin-top: 25px;
  color: #7f7f7f;
}